<img src=images/ucsc_banner.png width=500>
# Anaconda, IPython, and Dataframes

This module covers tools which combine to form an interactive and explorative environment for data science.

<img src="images/anaconda_logo.png" width=250>

Anaconda is a package manager and collection of popular scientific Python tools. Installing Anaconda is an easy way to setup a data analysis environment from scratch without worrying about conflicting dependencies that may arise from installing so many disparate pieces of software. Anaconda supports Windows, Mac OS X, and Linux.

# IPython

IPython stands for *Interactive Python*, and is a beefed version of the standard Python interpreter.

Type `ipython` in the terminal to open IPython

- **M4.Q1** List some *shell* commands that you can use in IPython.
- **M4.A1**
- **M4.Q2** Why is this useful?
- **M4.A2**

Type: `a = 'kitties'`  

We've now created `a`, a string variable.  But what are some *methods* that you can perform with this string?  In the standard Python intepreter, you'd have a rather difficult time figuring this out without having to look up Python's [string documentation](https://docs.python.org/2/library/string.html). 

**Terminology**: A *method* is a function that is associated with a particular *object*. An object can be any unique datatype like an *int* or a *str*. 

Type: `a.` 

(don't forget the period, or *dot*) and hit *tab*. This returns all of the *dot methods* associated with the *str* object. We see the first method listed is `capitalize`.  Type `a.ca` and hit *tab* again -- this autocompletes the method for us! If we just hit *enter* now, we'll get an error. This is because `capitalize` is a *method*, and all methods and functions are designated in Python by `()`.  So the full command we want is `a.capitalize()`.  

- **M4.Q3** What does `a.capitalize()` return? 
- **M4.A3** 
- **M4.Q4** How would you *assign* what it returns to a new variable, `b`?
- **M4.A4** 

The reason for the parentheses, is that some methods accept *arguments*. `capitalize` doesn't happen to have any arguments, as it's simply upper-casing the first letter in the string, but what about `count`?

Type: `a.count()`

This will raise an error: `TypeError: count() takes at least 1 argument (0 given)`.  This tells us that *count* requires at least one argument that goes in the parentheses, but how do we know what that argument is?  

Type: `a.count?`

```
Docstring:
S.count(sub[, start[, end]]) -> int

Return the number of non-overlapping occurrences of substring sub in
string S[start:end].  Optional arguments start and end are interpreted
as in slice notation.
Type:      builtin_function_or_method
```

This tells us a lot of information about the `count` method. The first line explains that `count` has a required argument, `sub`, and that it returns an integer (`-> int`).  The rest of the docstring explains `count`'s optional arguments.

- **M4.Q5** Provide a valid `count` command.
- **M4.A5**
- **M4.Q6** Read the docstring carefully and provide a command that uses `count`'s *optional* arguments.
- **M4.A6**

IPython has a lot more goodies in it, but the above fundamentals give you the basis to explore Python without constantly having to reference documentation. 

Documentation for IPython can be found at: http://ipython.readthedocs.io/en/stable/index.html

# Jupyter Notebooks

<img src="images/jupyter_logo.png" width=250>

Jupyter notebooks used to be called IPython notebooks, but the popularity of notebooks led to the notebook framework being moved into its own project that now supports more languages than just Python.

## Setting up remote notebook

We want to work on these IPython notebook on our remote server, but notebooks require a GUI to use. We'll launch the notebooks on the remote server, and access them from our local machine using port forwarding.

On your remote machine:

Type: `screen`

This opens a separate terminal so your notebook will stay running even if your SSH instance gets logged out.  You can exit the screen by typing `ctrl+a` then hitting `d`, and resume your screen session by typing `screen -r`.

Type: `jupyter notebook --no-browser`

From your *local* machine (open a new tab or exit your ssh session):

Linux / Mac OSx
```
ssh -NL 8157:localhost:8888 ubuntu@your-remote-machine-public-dns
```

You should now be able to point your browser to http://localhost:8157 and see the jupyter notebook startup screen.

 
## Basics

The Jupyter Notebook is a web application that allows you to create and share documents that contain live code, equations, visualizations and explanatory text. Uses include: data cleaning and transformation, numerical simulation, statistical modeling, machine learning and much more.

Jupyter notebooks are comprised of *cells* that allow a user to write small blocks of code or text and execute them.  You can use the menu at the top to create / delete / arrange cells, or you can click **Help -> Keyboard Shortcuts**. I primarily use only two types of cells: code cells and *Markdown* cells for text formatting.  

Besides codifying a methodology in a format that allows for narration to be placed alongside the code used to achieve the result, notebooks are great way to share your research with others as they can download your notebook and run it for themselves.

We'll be using notebooks to visualize *dataframes* and execute Python code on those dataframes all in a single environment.

# Dataframes

A *dataframe* is an abstract concept for **(deep breath)** size-mutable "labeled arrays" that handle heterogeneous data.  If anyone has used the R programming language, then you're already familiar with what a dataframe is. For those who haven't used R, it simply takes the concept of an *array* of data, and applies hierarchical labeling.

## Pandas

Pandas is a Python implementation of the the dataframes model with a ton of cool features. I'll let the author himself provide a brief overview of Pandas: https://vimeo.com/59324550

I mostly use Pandas for exploratory data science work, some examples of which can be checked out here:

**Similarity Comparison Between Two RNA-Seq Pipelines** <br>
https://github.com/jvivian/ipython_notebooks/blob/master/RSEM_comparison/RSEM_comparison.ipynb

**Fitting a Distribution to Kallisto Bootstraps** <br>
https://github.com/jvivian/ipython_notebooks/blob/master/kallisto_boostraps/Kallisto%20Bootstraps.ipynb


## Data 

To play around with Pandas, we'll look at some data from IMDB, the internet movie database.

Download cast.csv to the **data/** directory in your forked repo with the following URL: <br>
https://drive.google.com/file/d/0ByHO8wS-fc8HTFJpZDE0T3RBcG8/view?usp=sharing

In [ ]:
import pandas as pd

We'll use some CSS styling to make our tables look pretty. This doesn't translate if you view the notebook from Github.

In [ ]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

Now let's read in our dataframes

In [ ]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)

There are two main datatypes in Pandas: DataFrames and Series. It's easiest to think of a single column of a pandas dataframe as a series.

In [ ]:
type(titles)

In [ ]:
type(titles.title)

Two of the most useful pandas methods are `head` and `tail`.

In [ ]:
titles.head()

In [ ]:
cast.tail()

## Dataframe Operations

We can look at any column in our dataframe by using array notation `['column_name']` or dot-method notation.

In [ ]:
titles.columns

In [ ]:
titles['title'].head()

In [ ]:
titles.title.head()

There are a lot of built-in dataframe methods

In [ ]:
titles.count()

In [ ]:
titles.sort_values('title').head()

In [ ]:
titles.sort_values('year').head()

#### Conditionals

Filtering dataframes can be a bit unintuitive at first, but make sense once you've done it a few times.

Say we wanted to look at every movie named **Hamlet**, how would we do that?  You might try something like:

In [ ]:
titles.title == 'Hamlet'

Whoa, what is this? What we've gotten back is a *boolean* list of every title and whether or not it's named **Hamlet**, which we can see a majority of are False.  We can use this to filter our original dataframe by *subsetting it*.

In [ ]:
titles[titles.title == 'Hamlet'].head()

If you have multiple conditionals, you need to wrap them with parentheses and combine them with the `&` operator.

In [ ]:
titles[(titles.year < 1959) & (titles.year > 1955)].head()

Working with Dataframes is *functional*. You can string together many functions and operations.

In [ ]:
titles[(titles.year < 1959) & (titles.year > 1955)].sort_values('year').head(2)

In [ ]:
titles[(titles.year < 1959) | (titles.year > 1955)].sort_values('year').head(2)

#### Mutability

Another thing that takes some getting used to is Pandas *mutability*.  Pandas prefers never to *mutate*, or change, a dataframe object unless you explicitly tell it to. Instead, it creates a copy and assigns that to the new dataframe.

In [ ]:
sorted_titles = titles.sort_values('year')
sorted_titles.head()

If you want to force a change into a dataframe, use the `inplace=True` argument.

In [ ]:
titles.sort_values('year', inplace=True)
titles.head()

## Exercises
Borrowed from the great Brandon Rhodes: http://rhodesmill.org/brandon/

Most (if not all) of these exercises can be done in a single line. Be precise! If a question asks "How many movies...", then your answer should return a number.

### What are the earliest two films listed in the titles dataframe?

### How many movies have the title "Hamlet"?

### How many movies are titled "North by Northwest"?

### When was the first movie titled "Hamlet" made?

### List all of the "Treasure Island" movies from earliest to most recent.

### How many movies were made in the year 1950?

### How many movies were made in the year 1960?

### How many movies were made from 1950 through 1959?

### In what years has a movie titled "Batman" been released?

### How many roles were there in the movie "Inception"?

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

### But how many roles in the movie "Inception" did receive an "n" value?

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

### How many roles were credited in the silent 1921 version of Hamlet?

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

### How many "Hamlet" roles have been listed in all film credits through history?

### How many people have played an "Ophelia"?

### How many people have played a role called "The Dude"?

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were avilable for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

NIH BD2K Center for Big Data in Translational Genomics, UCSC Genomics Institute